@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
p {
    margin: 0;
}

@layer components {
    .font-1 {
        @apply overflow-hidden text-ellipsis font-montserrat text-[10px] text-white md:text-xs;
    }

    .font-2 {
        @apply font-montserrat font-semibold text-white;
    }

    .font-3 {
        @apply font-montserrat text-xl text-white;
    }
}
